button {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: absolute; /* Change this to absolute */
  top: 15px; /* Adjust the distance from the top */
  right: 20px; /* Adjust the distance from the right */
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}


.cards {
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1fr ;
    margin: 39px auto 0;
    width: calc(280px * 4);
    align-items: center;
    margin-top: 300px;
    
  }
  
  .card {
    box-shadow: 0 3px 10px 0 #9f3fd3;
    cursor: pointer;
    height: 280px;
    position: relative;
    align-items: center;
    width: 243px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 30px #da94ff; 
}
  
  .card h2 {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
  }
  
  .card.visited {
    box-shadow: 0 3px 10px 2px #163832;
  }
  .banner {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    color: #daf1de;
    background-color: #28104e;
}
  
  @media (max-width: 1100px) {
    .cards {
      grid-template-columns: 1fr 1fr;
      width: calc(280px * 2);
    }
    .card {
      margin: 0 auto 2rem;
    }
  }
  
  @media (max-width: 768px) {
    .cards {
      display: block;
      width: 100vw;
    }
    .card {
      margin: 0 auto 2rem;
    }
  }
  .card-img-top{
    width: 243px;
    height: 140px;
    align-items: center;
  }
  body {
    
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ab24e4, #74b9ff);
    color: #fff;
    display: flex;
    flex-direction: column;
   
}
